@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

:root {
    --color-main: #024209;
    --color-secondary: #129c23;
    --color-accent: #dcb819;
    --color-about-bg: #69ca81;
    --color-footer-bg: #ffffff;
    --color-gradient: linear-gradient(90deg, #129c23 0%, #ffffff 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab' sans-serif;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 20px;
}

/* HEADER SECTION */

header {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.logo {
    flex: 1;
}

.logo img {
    max-height: 60px;
    width: auto;
}

.logo img:hover {
    transform: scale(1.05);
}

.logo img:active {
    transform: scale(0.97);
}

.navbtns {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    gap: 20px;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.navbtns img {
    max-height: 25px;
    width: auto;
}

.navbtns img:hover {
    transform: scale(1.05);
}

.navbtns img:active {
    transform: scale(0.97);
}

.cnav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: -3%;
}

.cnav img {
    max-height: 30px;
    width: auto;
}

.cnav img:hover {
    transform: scale(1.05);
}

.cnav img:active {
    transform: scale(0.97);
}

.menu-toggle {
    display: none;
}

/*HERO SECTION*/

.hero-section {
    background-image: url(../assets/contacthero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    padding-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .text {
    background: var(--color-gradient);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section .text h1 {
    font-size: 30px;
    margin-left: -30px;
}

.text h3 {
    font-size: 28px;
    padding-bottom: 10px;
    text-align: center;
}


/* CONTACT SECTION */
.contact-section {
    padding: 30px 20px;
}



.contact-section h2 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-main);
    font-weight: bold;
    font-size: 24px;
}

.contact-details p {
    padding-bottom: 10px;
    font-size: 20px;
    color: #000000;
}

.contact-section .greeting {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.contact-form {
    flex-direction: column;
    font-size: 16px;
    border-radius: 16px;
    padding: 20px 10px;
    border-top: 4px solid #1b8c3d;
    border-bottom: 4px solid #01b62e;
    box-shadow: 0 0 10px rgba(75, 199, 127, 0.1);
    width: 40vw;
}

.contact-form input {
    margin-bottom: 20px;
}

.form-group {
    flex: 5 100%;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #444;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.form-submit {
    margin-top: 1rem;
    text-align: center;
}

button {
    background: none;
    border: none;
    margin-top: 10px;
}

button:hover {
    background: none;
}

button img:hover {
    transform: scale(1.05);
}

button img:active {
    transform: scale(0.97);
}

/*Thank you popup*/
.contactform .thank-you {
    display: none;
    opacity: 10;
    background: rgba(110, 51, 2, 0);
    box-shadow: 0 0 15px #19dc81be;
    text-align: center;
    padding: 20px;
    animation: fadeInUp 1s ease forwards;
    margin-top: 20px;
}

.thank-you h2 {
    font-size: 50px;
    font-weight: 500;
}

.thank-you p {
    font-size: 20px;
    font-weight: 300;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.map-container {
    width: 40vw;
}

/*CALL TO ACTION SECTION*/

.cta-section {
    background: var(--color-gradient);
    height: fit-content;
    padding: 20px;
    margin-top: 30px;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.cta .consult-btn {
    margin-top: 30px;
}

.cta-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: -10%;
}

.cta-section .consult-btn img {
    max-height: 45px;
    width: auto;
}

button {
    background: none;
    border: none;
}

button:hover {
    background: none;
}

button img:hover {
    transform: scale(1.05);
}

button img:active {
    transform: scale(0.97);
}

.zocdoc {
    margin-top: 32px;
}

.zocdoc img:hover {
    transform: scale(1.05);
}

.zocdoc img:active {
    transform: scale(0.97);
}


/* MODAL BACKDROP */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal content */
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    max-width: 700px;
    position: relative;
}

/* Close button */
.close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

/* FOOTER */

.site-footer {
    background: white;
    color: black;
    padding: 60px 30px 30px;
}

.footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-container span {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px
}

.footer-container h3 {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

.footer-info,
.footer-links,
.footer-contact {
    min-width: 250px;
}

.footer-contact p {
    margin-bottom: 10px;
    font-size: 22px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-top: -10px;
    padding-bottom: 10px;
}

.footer-links a {
    color: var(--color-main);
    text-decoration: none;
    font-weight: 100;
    font-size: 22px;
}

.footer-links a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
}

.footer-links a:active {
    transform: scale(0.97);
    background-color: none;
}

.footer-contact .socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-contact .socials img {
    max-height: 25px;
    width: au;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info p {
    max-width: 80%;
    text-align: center;
    font-size: 20px;
}

.footer-info img {
    max-height: 80px;
    margin-right: 30px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #21b65a;
    padding-top: 20px;
    color: #057534;
}

.footer-bottom p {
    font-size: 14px;
}





/** RESPONSIVENESS **/

/* MOBILE SCREEN */

@media only screen and (max-width: 480px) {
    .navbtns {
        display: none;
    }

    .cnav {
        display: none;
    }

    .logo img {
        width: 50px;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle h1 img {
        width: 50px;
    }

    .menu-toggle h1 .underline {
        margin-top: -20px;
    }

    .slide {
        width: 180px;
        position: absolute;
        right: 0;
        background-color: rgba(255, 255, 255, 0.808);
        transition: 0.5s ease;
        transform: translateX(200px);
    }

    h1 {
        color: #024209;
        font-weight: 800;
        text-align: left;
        padding: 10px 0;
        padding-left: 30px;
    }

    .slide ul {
        margin-top: -20px;
    }

    ul li {
        list-style: none;
        padding-left: 10px;
    }

    ul li a {
        color: #000000;
        font-weight: bold;
        font-size: 18px;
        padding: 5px 0;
        display: block;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.2s ease-out;
    }

    ul li:hover a {
        text-decoration: underline;
        text-decoration-color: rgb(0, 185, 114);
    }

    ul li a i {
        width: 40px;
        text-align: center;
    }



    .menu-toggle input {
        display: none;
        visibility: hidden;
        -webkit-appearance: none;
    }

    .toggle {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 20px;
        right: 0;
        z-index: 1;
        cursor: pointer;
        border-radius: 2px;
        background-color: #129c23;
    }

    .toggle .common {
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: #025221;
        border-radius: 50px;
        transition: 0.3s ease;
    }

    .toggle .topline {
        top: 30%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .toggle .middleline {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .toggle .bottomline {
        top: 70%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    input:checked~.toggle .topline {
        right: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
    }

    input:checked~.toggle .bottomline {
        right: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);
    }

    input:checked~.toggle .middleline {
        opacity: 0;
        transform: translateX(-20px);
    }

    input:checked~.slide {
        transform: translateX(0);
        box-shadow: 0 0 20px rgba(28, 0, 71, 0.466);
        background-color: #46a551ec;
        border-radius: 0 0 30px 30px;
        height: fit-content;
        padding: 0 10px;
        margin-top: auto;
        align-items: center;
    }

    .navbtns {
        display: none;
    }

    /*HERO SECTION*/

    .hero-section {
        background-image: url(../assets/mobcontacthero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;

        padding-top: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapper .text {
        background: var(--color-gradient);
    }

    .hero-section .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-section .text h1 {
        font-size: 25px;
    }

    .hero-section .text h3 {
        font-size: 20px;
        padding: 0 10px 20px;
    }


    /* CONTACT SECTION */
    .contact-section {
        padding: 30px 20px;
    }

    .contact-section h2 {
        text-align: center;
        margin-bottom: 10px;
        color: var(--color-main);
        font-weight: bold;
    }

    .contact-details p {
        padding-bottom: 10px;
        font-size: 16px;
        color: #000000;
    }

    .contact-section .greeting {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .contact-form {
        flex-direction: column;
        font-size: 16px;
        border-radius: 16px;
        padding: 20px 10px;
        border-top: 4px solid #1b8c3d;
        border-bottom: 4px solid #01b64c;
        box-shadow: 0 0 10px rgba(75, 199, 127, 0.1);
        width: 80vw;
        margin-top: 10px;
    }

    .contact-form input {
        margin-bottom: 20px;
    }

    .form-group {
        flex: 1 1 100%;
    }

    .form-submit img {
        max-height: 30px;
        width: auto;
        margin-left: -70px;
    }

    button {
        background: none;
        border: none;
        margin-left: 20%;
        margin-right: 0%;
        margin-top: 10px;
    }

    button:hover {
        background: none;
    }

    button img:hover {
        transform: scale(1.05);
    }

    button img:active {
        transform: scale(0.97);
    }

    .map-container {
        width: 80vw;
        margin-top: 20px;
    }



    /*CALL TO ACTION SECTION*/

    .cta-section {
        background: var(--color-gradient);
        height: fit-content;
        padding: 10px;
        margin-top: 20px;
    }

    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }

    .cta .consult-btn {}

    .cta-btns {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
        margin-left: 15%;
    }

    .cta-section .consult-btn img {
        max-height: 30px;
        width: auto;
    }

    button {
        background: none;
        border: none;
    }

    button:hover {
        background: none;
    }

    button img:hover {
        transform: scale(1.05);
    }

    button img:active {
        transform: scale(0.97);
    }

    .zocdoc img {
        max-height: 30px;
    }

    .zocdoc img:hover {
        transform: scale(1.05);
    }

    .zocdoc img:active {
        transform: scale(0.97);
    }

    /* MODAL BACKDROP */

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }

    /* Modal content */
    .modal-content {
        background-color: #fff;
        margin: 5% auto;
        padding: 1rem;
        border-radius: 8px;
        width: 90%;
        max-width: 700px;
        position: relative;
    }

    /* Close button */
    .close {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        cursor: pointer;
    }

    /* FOOTER */

    .site-footer {
        background: white;
        color: black;
        padding: 60px 30px 30px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        max-width: 1200px;
        margin: auto;
    }

    .footer-container span {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-right: auto;
        gap: 20px;
    }

    .footer-container h3 {
        margin-bottom: 10px;
        color: #000000;
        font-weight: bold;
    }

    .footer-info,
    .footer-links,
    .footer-contact {
        min-width: 250px;
    }

    .footer-contact p {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .footer-links ul {
        list-style: none;
    }

    .footer-links ul li {
        margin-top: -10px;
        padding-bottom: 10px;
    }

    .footer-links a {
        color: var(--color-main);
        text-decoration: none;
        font-weight: 100;
        font-size: 16px;
    }

    .footer-links a:hover {
        text-decoration: underline;
        text-decoration-color: var(--color-secondary);
    }

    .footer-links a:active {
        transform: scale(0.97);
        background-color: none;
    }

    .footer-contact .socials {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .footer-contact .socials img {
        max-height: 25px;
        width: auto;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-info img {
        max-height: 80px;
        margin-right: 20px;
    }

    .footer-info p {
        display: none;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 40px;
        border-top: 1px solid #21b65f;
        padding-top: 20px;
        color: #05752a;
    }

    .footer-bottom p {
        font-size: 12px;
    }



}

/* TABLET SCREEN */
@media (min-width: 768px) {}


/*LARGER DESKTOP*/
@media (min-width: 1024px) {}