@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

:root {
    --color-main: #024209;
    --color-secondary: #129c23;
    --color-accent: #dcb819;
    --color-about-bg: #69ca81;
    --color-footer-bg: #ffffff;
    --color-gradient: linear-gradient(90deg, #129c23 0%, #ffffff 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab' sans-serif;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 20px;
}

/* HEADER SECTION */

header {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.logo {
    flex: 1;
}

.logo img {
    max-height: 60px;
    width: auto;
}

.logo img:hover {
    transform: scale(1.05);
}

.logo img:active {
    transform: scale(0.97);
}

.navbtns {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    gap: 20px;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.navbtns img {
    max-height: 25px;
    width: auto;
}

.navbtns img:hover {
    transform: scale(1.05);
}

.navbtns img:active {
    transform: scale(0.97);
}

.cnav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.cnav img {
    max-height: 30px;
    width: auto;
}

.cnav img:hover {
    transform: scale(1.05);
}

.cnav img:active {
    transform: scale(0.97);
}

.menu-toggle {
    display: none;
}

/*HERO SECTION*/

.hero-section {
    background-image: url(../assets/contacthero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    padding-top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .text {
    background: var(--color-gradient);
}

.hero-section .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.hero-section .text h1 {
    font-size: 30px;
    color: #095202;
}

.hero-section .text h3 {
    font-size: 24px;
    padding-bottom: 10px;
}


/* Container for Services Page */


/* Intro Section */
.services-section {
    padding-top: 20px;
}

.services-intro {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 20px;
}

.services-intro h1 {
    font-size: 2rem;
    color: #069d70;
    margin-bottom: 1rem;
}

.wrapper .services-intro p {}

.categories-overview ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

/* Category Headings */
.service-category {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.service-category h2 {
    font-size: 1.6rem;
    border-bottom: 2px solid #069d70;
    padding-bottom: 0.5rem;
    color: #333;
}

/* Service Cards Grid */
.service-card {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
}

/* Each Card */
.service-card {
    display: flex;
    font-size: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    flex-direction: row;
    transition: transform 0.3s ease;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 16px;
    padding: 20px 15px;
    border-top: 4px solid #055c0c;
    border-bottom: 4px solid #01b610;
    box-shadow: 0 0 10px rgba(199, 75, 192, 0.1);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for desktop */
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
}

.service-card:hover {
    transform: translateY(-5px);
}

/* Image Styling */
.service-card img {
    max-height: 200px;
    width: auto;
    margin: 20px;
}

.service-text {
    padding: 1.5rem;
    width: 60%;
}

.service-text h3 {
    margin-bottom: 0.75rem;
    font-size: 1.3rem;
    color: #069d57;
}

.service-text p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

/*CALL TO ACTION SECTION*/

.cta-section {
    background: var(--color-gradient);
    height: fit-content;
    padding: 20px;
    margin-top: 30px;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.cta .consult-btn {
    margin-top: 30px;
}

.cta-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.cta-section .consult-btn img {
    max-height: 45px;
    width: auto;
}

button {
    background: none;
    border: none;
}

button:hover {
    background: none;
}

button img:hover {
    transform: scale(1.05);
}

button img:active {
    transform: scale(0.97);
}

.zocdoc {
    margin-top: 32px;
}

.zocdoc img:hover {
    transform: scale(1.05);
}

.zocdoc img:active {
    transform: scale(0.97);
}

/* MODAL BACKDROP */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal content */
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    max-width: 700px;
    position: relative;
}

/* Close button */
.close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

/* FOOTER */

.site-footer {
    background: white;
    color: black;
    padding: 60px 30px 30px;
}

.footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-container span {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px
}

.footer-container h3 {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

.footer-info,
.footer-links,
.footer-contact {
    min-width: 250px;
}

.footer-contact p {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-top: -10px;
    padding-bottom: 20px;
    font-size: 20px;
}

.footer-links a {
    color: var(--color-main);
    text-decoration: none;
    font-weight: 100;
}

.footer-links a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
}

.footer-links a:active {
    transform: scale(0.97);
    background-color: none;
}

.footer-contact .socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-contact .socials img {
    max-height: 25px;
    width: au;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info p {
    max-width: 80%;
    text-align: center;
    font-size: 20px;
}

.footer-info img {
    max-height: 80px;
    margin-right: 30px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #21b65a;
    padding-top: 20px;
    color: #057534;
}

.footer-bottom p {
    font-size: 14px;
}


/** RESPONSIVENESS **/

/* MOBILE SCREEN */
@media only screen and (max-width: 480px) {
    .navbtns {
        display: none;
    }

    .cnav {
        display: none;
    }

    .logo img {
        width: 50px;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle h1 img {
        width: 50px;
    }

    .menu-toggle h1 .underline {
        margin-top: -20px;
    }

    .slide {
        width: 180px;
        position: absolute;
        right: 0;
        background-color: rgba(255, 255, 255, 0.808);
        transition: 0.5s ease;
        transform: translateX(200px);
    }

    h1 {
        color: #024209;
        font-weight: 800;
        text-align: left;
        padding: 10px 0;
        padding-left: 30px;
    }

    .slide ul {
        margin-top: -20px;
    }

    ul li {
        list-style: none;
        padding-left: 10px;
    }

    ul li a {
        color: #000000;
        font-weight: bold;
        font-size: 18px;
        padding: 5px 0;
        display: block;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.2s ease-out;
    }

    ul li:hover a {
        text-decoration: underline;
        text-decoration-color: rgb(0, 185, 114);
    }

    ul li a i {
        width: 40px;
        text-align: center;
    }



    .menu-toggle input {
        display: none;
        visibility: hidden;
        -webkit-appearance: none;
    }

    .toggle {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 20px;
        right: 0;
        z-index: 1;
        cursor: pointer;
        border-radius: 2px;
        background-color: #129c23;
    }

    .toggle .common {
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: #025221;
        border-radius: 50px;
        transition: 0.3s ease;
    }

    .toggle .topline {
        top: 30%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .toggle .middleline {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .toggle .bottomline {
        top: 70%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    input:checked~.toggle .topline {
        right: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
    }

    input:checked~.toggle .bottomline {
        right: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);
    }

    input:checked~.toggle .middleline {
        opacity: 0;
        transform: translateX(-20px);
    }

    input:checked~.slide {
        transform: translateX(0);
        box-shadow: 0 0 20px rgba(28, 0, 71, 0.466);
        background-color: #46a551ec;
        border-radius: 0 0 30px 30px;
        height: fit-content;
        padding: 0 10px;
        margin-top: auto;
        align-items: center;
    }

    .navbtns {
        display: none;
    }

    /*HERO SECTION*/

    .hero-section {
        background-image: url(../assets/mobserviceshero.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;

        padding-top: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapper .text {
        background: var(--color-gradient);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .hero-section .text h1 {
        font-size: 26px;
        padding: 0px 0px;
    }

    .hero-section .text h3 {
        font-size: 18px;
        padding: 0 20px;

    }

    /*SERVICES SECTION*/

    .services-intro,
    .service-card p {
        font-size: 16px;
    }

    .categories-overview ul {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        text-align: center;
    }


    .service-card h3 {
        font-size: 18px;
        margin-top: 10px;
    }


    .services-section .container {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .container .service-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-width: 350px;
        max-width: auto;
    }

    .service-card img {
        max-width: 150px;
        height: auto;
    }





    /*CALL TO ACTION SECTION*/

    .cta-section {
        background: var(--color-gradient);
        height: fit-content;
        padding: 10px;
        margin-top: 20px;
    }

    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }

    .cta .consult-btn {}

    .cta-btns {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 20px;
    }

    .cta-section .consult-btn img {
        max-height: 30px;
        width: auto;
    }

    button {
        background: none;
        border: none;
    }

    button:hover {
        background: none;
    }

    button img:hover {
        transform: scale(1.05);
    }

    button img:active {
        transform: scale(0.97);
    }

    .zocdoc img {
        max-height: 30px;
    }

    .zocdoc img:hover {
        transform: scale(1.05);
    }

    .zocdoc img:active {
        transform: scale(0.97);
    }

    /* MODAL BACKDROP */

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }

    /* Modal content */
    .modal-content {
        background-color: #fff;
        margin: 5% auto;
        padding: 1rem;
        border-radius: 8px;
        width: 90%;
        max-width: 700px;
        position: relative;
    }

    /* Close button */
    .close {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        cursor: pointer;
    }

    /* FOOTER */

    .site-footer {
        background: white;
        color: black;
        padding: 60px 30px 30px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        max-width: 1200px;
        margin: auto;
    }

    .footer-container span {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-right: auto;
        gap: 20px;
    }

    .footer-container h3 {
        margin-bottom: 10px;
        color: #000000;
        font-weight: bold;
    }

    .footer-info,
    .footer-links,
    .footer-contact {
        min-width: 250px;
    }

    .footer-contact p {
        margin-bottom: 10px;
    }

    .footer-links ul {
        list-style: none;
    }

    .footer-links ul li {
        margin-top: -10px;
        padding-bottom: 10px;
    }

    .footer-links a {
        color: var(--color-main);
        text-decoration: none;
        font-weight: 100;
    }

    .footer-links a:hover {
        text-decoration: underline;
        text-decoration-color: var(--color-secondary);
    }

    .footer-links a:active {
        transform: scale(0.97);
        background-color: none;
    }

    .footer-contact .socials {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .footer-contact .socials img {
        max-height: 25px;
        width: auto;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-info img {
        max-height: 80px;
        margin-right: 20px;
    }

    .footer-info p {
        display: none;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 40px;
        border-top: 1px solid #21b65f;
        padding-top: 20px;
        color: #05752a;
    }

    .footer-bottom p {
        font-size: 12px;
    }


}


/* TABLET SCREEN */
@media (min-width: 768px) {}


/*LARGER DESKTOP*/
@media (min-width: 1024px) {}